.Rproj.user
.Rhistory
.RData
.Ruserdata
Reference.bib~
.Reference.bib.swp
.Reference.bib.un~
First_Draft.log
.Reference.bib.swo
Consciousness_and_Its_Function.pdf
T_Crane_Intentional.pdf
Intentional states.odt