.Rproj.user
.Rhistory
.RData
.Ruserdata
Reference.bib~
.Reference.bib.swp
.Reference.bib.un~
First_Draft.log
.Reference.bib.swo
Chapter_2_notes
Chapter_3_notes
Chapter_4_notes
Chapter_5_notes
Chapter_6_notes
Chapter_7_notes