.Rproj.user
.Rhistory
.RData
.Ruserdata
Reference.bib~
.Reference.bib.swp
.Reference.bib.un~
First_Draft.log
.Reference.bib.swo
Consciousness_and_Its_Function.pdf
T_Crane_Intentional.pdf
Intentional states.odt
Kami Export - eilat-text-09 (1).pdf
Kami Export - RLE-TR-247-03150899.pdf
Kami Export - 0410002.pdf
Kami Export - Kolmogorov65_Three-Approaches-to-Information.pdf
Second.log
Epistemology.odt
.Second.Rmd.swp
.~lock.Epistemology.odt#
Thesis_2.pdf
Thesis_2.log
Thesis_2_2.pdf
Thesis_2_2.log
